# Multiple Regression

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df = pd.read_excel('http://cdn.sundog-soft.com/Udemy/DataScience/cars.xls')
df.columns
df['Cruise'].unique()

array([1, 0])

## Turning str values into int values

In [2]:
from sklearn.preprocessing import LabelEncoder
encode_model = LabelEncoder()
encode_type = LabelEncoder()
encode_trim = LabelEncoder()
encode_make = LabelEncoder()

df['Model'] = encode_model.fit_transform(df['Model'])
df['Type'] = encode_type.fit_transform(df['Type'])
df['Trim'] = encode_trim.fit_transform(df['Trim'])
df['Make'] = encode_make.fit_transform(df['Make'])

## Identifying features and the target value. Then fitting it to the standart scaler so that the model weighs everything 'equally'

In [3]:
from sklearn.preprocessing import StandardScaler

X = df.drop(['Price'], axis=1)
y = df['Price']

scale = StandardScaler()
X_scaled = scale.fit_transform(X)

## Fitting the model into a Linear Regression and determing how well the data fits the line

In [4]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_scaled, y)

print("R² score:", model.score(X_scaled, y))

R² score: 0.5011334140890766

## Finding out what numbers were given to each of the str values

In [5]:
mapping_make = pd.DataFrame({
    'Make': encode_make.classes_,
    'Code': range(len(encode_make.classes_))
})
print(mapping_make)


mapping_model = pd.DataFrame({
    'Model': encode_model.classes_,
    'Code': range(len(encode_model.classes_))
})
print(mapping_model)


mapping_type = pd.DataFrame({
    'Type': encode_type.classes_,
    'Code': range(len(encode_type.classes_))
})
print(mapping_type)


mapping_trim = pd.DataFrame({
    'Trim': encode_trim.classes_,
    'Code': range(len(encode_trim.classes_))
})
print(mapping_trim)

        Make  Code
0      Buick     0
1   Cadillac     1
2  Chevrolet     2
3    Pontiac     3
4       SAAB     4
5     Saturn     5
          Model  Code
0      9-2X AWD     0
1           9_3     1
2        9_3 HO     2
3           9_5     3
4        9_5 HO     4
5          AVEO     5
6    Bonneville     6
7         CST-V     7
8           CTS     8
9      Cavalier     9
10      Century    10
11      Classic    11
12       Cobalt    12
13     Corvette    13
14      Deville    14
15           G6    15
16          GTO    16
17     Grand Am    17
18   Grand Prix    18
19       Impala    19
20          Ion    20
21     L Series    21
22     Lacrosse    22
23      Lesabre    23
24       Malibu    24
25  Monte Carlo    25
26  Park Avenue    26
27       STS-V6    27
28       STS-V8    28
29      Sunfire    29
30         Vibe    30
31       XLR-V8    31
          Type  Code
0  Convertible     0
1        Coupe     1
2    Hatchback     2
3        Sedan     3
4        Wagon     4
                   Trim  Code
0     AWD Sportwagon 4D     0
1          Aero Conv 2D     1
2         Aero Sedan 4D     2
3         Aero Wagon 4D     3
4           Arc Conv 2D     4
5          Arc Sedan 4D     5
6          Arc Wagon 4D     6
7           CX Sedan 4D     7
8          CXL Sedan 4D     8
9          CXS Sedan 4D     9
10              Conv 2D    10
11             Coupe 2D    11
12      Custom Sedan 4D    12
13         DHS Sedan 4D    13
14         DTS Sedan 4D    14
15          GT Coupe 2D    15
16          GT Sedan 4D    16
17        GT Sportwagon    17
18         GTP Sedan 4D    18
19         GXP Sedan 4D    19
20      Hardtop Conv 2D    20
21        L300 Sedan 4D    21
22          LS Coupe 2D    22
23      LS Hatchback 4D    23
24     LS MAXX Hback 4D    24
25          LS Sedan 4D    25
26    LS Sport Coupe 2D    26
27    LS Sport Sedan 4D    27
28          LT Coupe 2D    28
29      LT Hatchback 4D    29
30     LT MAXX Hback 4D    30
31          LT Sedan 4D    31
32     Limited Sedan 4D    32
33       Linear Conv 2D    33
34      Linear Sedan 4D    34
35      Linear Wagon 4D    35
36        MAXX Hback 4D    36
37        Quad Coupe 2D    37
38          SE Sedan 4D    38
39         SLE Sedan 4D    39
40          SS Coupe 2D    40
41          SS Sedan 4D    41
42     SVM Hatchback 4D    42
43         SVM Sedan 4D    43
44             Sedan 4D    44
45  Special Ed Ultra 4D    45
46        Sportwagon 4D    46

## And finally, predicting the price of the car with the given parameters

In [6]:
new_data = {
    'Mileage': [35000],
    'Make': [1], #Cadillac
    'Model': [11], #Classic
    'Trim': [46], #Sportwagon 4D
    'Type': [3], #Sedan
    'Cylinder': [4], 
    'Liter': [3.1],
    'Doors': [4], 
    'Cruise': [1],
    'Sound': [0],
    'Leather': [1]
    
}

df2 = pd.DataFrame(new_data)
df2_scaled = scale.transform(df2)

model.predict(df2_scaled) #'Mileage', 'Make', 'Model', 'Trim', 'Type', 'Cylinder', 'Liter', 'Doors', 'Cruise', 'Sound', 'Leather'],

array([12437.93327792])